html {
    margin:0;
    padding:0;
    height:100%;
    background: wheat;
}

body{
    background: wheat;
}

.contact {
    margin: 20px 20px 20px 20px;
    border: 5px solid burlywood;
    border-radius: 10px;
    padding: 12px 20px;
    height: 525px;
    width: 475px;
    background-color: beige;
}

.fill_info {
    display: block;
    text-align: center;
}

.input {
    width: 100;
}

.img {
	width: 100px;
	height: auto;
}

.footer {
    text-align: center;
    margin: auto;
 }
